
.product-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &:hover {
    background: #F9F9F9;
    border-radius: 4px;
  }

  &__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    background: #FFF;
  }

  &__title {
    flex: 1;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}